* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
h2 {
    padding: 20px 0;
    font-size: 40px;
}

h3 {
    padding: 10px 0;
    font-size: 33px;
}

header{
    display: flex;
    padding: 9.5px 10px;
    align-items: center;
    justify-content: space-between;
}

.logo, .logo img {
    height: 50px;
}

nav li{
    display: inline-block;
    text-decoration: underline;
}

.mission {
    height: 700px;
    max-width: 1200px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;    
}

.mission-container {
    width: 100%;
    opacity: 1;     
}

.month-container {
    max-width: 1000px;
    margin: 20px auto;
}
.month-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.month-pic img{
    height: 200px;
    width: 300px;
}

.locations-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 500px;
    max-width: 1200px;
    align-items: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.locations-container h2 {
    background-color: transparent;
}

.locs {
    display: flex;
    gap: 40px;
    background-color: transparent;    
}

.location {    
    display: flex;
    flex-direction: column;
    width: 300px;
    opacity: 1; 
}

.location p {
    padding: 20px 0;
}